#post-container {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.post-superposition {
  position: absolute;
  width: 1024px;
  height: 768px;
}

.post-snapshot-button {
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.post-filter-image {
  z-index: 2;
}

.post-import-button {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#post-cam {
  z-index: 1;
}

@media only screen and (max-width: 1280px) {
  #post-container {
    width: 680px;
    height: 510px;
  }
  .post-superposition {
    width: 680px;
    height: 510px;
  }
}

@media only screen and (max-width: 680px) {
  #post-container {
    width: 320px;
    height: 240px;
  }
  .post-superposition {
    width: 320px;
    height: 240px;
  }
}
