.card {
    margin: 10px;
}

#card-wrapper {
  width: 100%;
}

.title {
  overflow: hidden;
}

.likes-nb {
  display: inline;
}

.comments-nb {
  display: inline;
}

@media (min-width: 600px) {
  #card-wrapper {
    width: 50%;
    margin: 0 auto;
  }
}
