#signup-email-danger {
  display: none;
}

#signup-username-danger {
  display: none;
}

#signup-password-danger {
  display: none;
}

#signup-confirmPassword-danger {
  display: none;
}

#signup-password-warning {
  display: none;
}

#signup-wrapper {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

#signup-form {
  margin: 0 auto;
}

#signup-title {
  padding: 10px;
}

.input {
  width: 60%;
  margin: 10px;
}

.textfield {
  display: inline;
  margin: 10px;
}

#signup-send-button {
  width: 60%;
  right: 0;
  margin: 10px;
}

#signup-send-button.input {
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  #signup-wrapper {
    width: 100%;
  }
  .input {
    width: 80%;
  }
  .card {
    box-shadow: none;
  }
}
