#header {
  background: red;
  min-width: 100%;
  height: 100px;
}

#header-button {
  float: right;
}

#header-left-menu {
  position: absolute;
  height: 100%;
  width: 250px;
  background: blue;
  left: -250px;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
