#header {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 40px;
}
#header-img{
  margin-top: 7px;
  max-height: 1.5rem;
}
#header-buttons-wrapper {
  display: inline;
  width: 100%;
}
#header-buttons {
  float: right;
}
